@inject Microsoft.Extensions.Localization.IStringLocalizer<StealthUI.Controllers.QuartzSettingsController> localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Html.Raw(localizer["QuartzSettings"])QuartzSettings - StealthUI</title>
    <link href="~/wwwroot/lib/iview/dist/styles/iview.css" rel="stylesheet" />

</head>
<body>
    <div class="container body-content">
        <div style="margin-top:10px;">
            <h2 style="height: 20px;">@Html.Raw(localizer["QuartzSettings"])</h2>
        </div>
        <div id="addQuartzsetting" style="text-align:right;margin:10px;">
            <addmodal></addmodal>
        </div>
        <div id="tablediv" style="padding:10px;">
            <Quartzsetting-row :quartzsettings="quartzsettings"></Quartzsetting-row>
        </div>

        <div id="editdiv">
            <editmodal v-bind:editdata="editdata"></editmodal>
        </div>
        <hr />
        <footer>
            <p>&copy; 2018 - StealthUI</p>
        </footer>
    </div>
    <script src="~/wwwroot/lib/vue/dist/vue.js"></script>
    <script src="~/wwwroot/lib/iview/dist/iview.js"></script>
    <script src="~/wwwroot/lib/axios/dist/axios.js"></script>


    <script type="text/x-template" id="quartzsetting-tr">
        <div>
            <row :gutter="16">
                <col span="24">
                <Table border :columns="columns" :data="data"></Table>
                </col>
            </row>
            <row :gutter="16" style="text-align:right;margin-top:3px;">
                <col span="24">
                <Page :total="total" :page-size="10" :current="current" v-on:on-change="pageing" />
                </col>
            </row>
        </div>
    </script>
    <script>
        var editVue = null;
        var tempQuartzsetting = null;
        //table组件
        Vue.component("quartzsetting-row", {
            template: "#quartzsetting-tr",
            props: ["quartzsettings"],
            data: function () {
                return {
                    columns: [
                        {
                            title: '@Html.Raw(localizer["ID"])',
                            key: 'id',
                            width: 50,
                        },
                        {
                            title: '@Html.Raw(localizer["KeyName"])',
                            key: 'keyName',
                        },
                        {
                            title: '@Html.Raw(localizer["TypeName"])',
                            key: 'typeName',

                        },
                        {
                            title: '@Html.Raw(localizer["CronExpression"])',
                            key: 'cronExpression'
                        },
                        {
                            title: '@Html.Raw(localizer["Validate"])',
                            key: 'validate'
                        },
                        {
                            title: '@Html.Raw(localizer["Operate"])',
                            key: 'action',
                            width: 100,
                            align: 'center',
                            render: (h, params) => {
                                return h('div', [
                                    h('Button', {
                                        props: {
                                            type: 'success',
                                            icon: 'md-create',
                                            size: 'small'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        },
                                        on: {
                                            click: () => {
                                                this.edit(params.row)
                                            }
                                        }
                                    }),
                                    h('Button', {
                                        props: {
                                            type: 'error',
                                            icon: 'ios-trash',
                                            size: 'small',
                                        },
                                        on: {
                                            click: () => {
                                                this.delete(params.row, params.index)
                                            }
                                        }
                                    })
                                ]);
                            }
                        }
                    ],
                    data: this.quartzsettings.list,
                    total: this.quartzsettings.total,
                    current: this.quartzsettings.current
                }
            },
            methods: {
                edit: function (quartzsetting) {

                    if (editVue == null) {
                        editVue = new Vue({
                            el: "#editdiv",
                            data: {
                                editdata: {
                                    quartzsetting: quartzsetting,
                                    showmodal: true,
                                    ruleValidate: {
                                        keyName: [
                                            { required: true, message: '@Html.Raw(localizer["KeyNameRequired"])', trigger: 'blur' },
                                            { type: 'string', max: 64, message: '@Html.Raw(localizer["KeyNameLength"])', trigger: 'blur' }
                                        ],
                                        typeName: [
                                            { required: true, message: '@Html.Raw(localizer["TypeNameRequired"])', trigger: 'blur' }
                                        ],
                                        cronExpression: [
                                            { required: true, message: '@Html.Raw(localizer["CronExpressionRequired"])', trigger: 'blur' }
                                        ],
                                    }
                                }
                            }
                        });
                    } else {
                        editVue.editdata.quartzsetting = quartzsetting;
                        editVue.editdata.showmodal = true;
                    }

                    //深度clone
                    tempQuartzsetting = JSON.parse(JSON.stringify(editVue.editdata.Quartzsetting))
                },
                delete: function (quartzsetting, index) {
                    if (confirm("delete  " + quartzsetting.keyName + " ?")) {
                        axios.delete("/removeQuartzsetting/" + quartzsetting.id)
                            .then(function (response) {
                                //判断请求状态
                                if (response.status == 200) {
                                    var returnData = response.data
                                    if (returnData.result) {
                                        getQuartz(quartzSettingVue.quartzsettings.current);
                                    } else {
                                        alert(returnData.messages)
                                    }
                                }
                                else {
                                    alert(response.statusText);
                                }
                            })
                            .catch(function (error) {
                                alert(error)
                                console.log(error);
                            });
                    }
                },
                pageing: function (pageindex) {
                    getQuartz(pageindex)
                }
            }
        })
        var quartzSettingVue = null;

        function getQuartz(pageindex) {
            axios.get("/quartzsettings/" + pageindex)
                .then(function (response) {
                    //判断请求状态
                    if (response.status == 200) {
                        document.getElementById("tablediv").innerHTML = ' <Quartzsetting-row :quartzsettings="quartzsettings"></Quartzsetting-row>'
                        var returnData = response.data;
                        if (returnData.result) {
                            quartzSettingVue = new Vue({
                                el: "#tablediv",
                                data: {
                                    quartzsettings: {
                                        list: returnData.data.list,
                                        total: returnData.data.total,
                                        current: pageindex
                                    },
                                }
                            });
                        } else {
                            alert(returnData.messages)
                        }
                    }
                    else {
                        alert(response.statusText);
                    }
                })
                .catch(function (error) {
                    alert(error)
                    console.log(error);
                });
        }
        getQuartz(1);
    </script>

    <script type="text/x-template" id="editmodal-div">
        <Modal v-model="editdata.showmodal"
               title="@Html.Raw(localizer["Edit"])"
               width="800px"
               :mask-closable="false">
            <div>
                <Form ref="editdata.quartzsetting" :model="editdata.quartzsetting" :rules="editdata.ruleValidate" label-position="top">
                    <row :gutter="16">
                        <Col span="24">
                        <FormItem label="@Html.Raw(localizer["KeyName"])" prop="keyName">
                            <Input v-model="editdata.quartzsetting.keyName"></Input>
                        </FormItem>
                        </Col>
                    </row>
                    <row :gutter="16">
                        <Col span="12">
                        <FormItem label="@Html.Raw(localizer["TypeName"])" prop="typeName">
                            <Input v-model="editdata.quartzsetting.typeName"></Input>
                        </FormItem>
                        </Col>
                        <Col span="12">
                        <FormItem label="@Html.Raw(localizer["CronExpression"])" prop="cronExpression">
                            <Input v-model="editdata.quartzsetting.cronExpression"></Input>
                        </FormItem>
                        </Col>
                    </row>
                    <row :gutter="16">
                        <Col span="12">
                        <FormItem label="@Html.Raw(localizer["Validate"])">
                            <i-switch v-model="editdata.quartzsetting.validate" size="large">
                                <span slot="valid">true</span>
                                <span slot="invalid">false</span>
                            </i-switch>
                        </FormItem>
                        </Col>
                        <Col span="12">
                        </Col>
                    </row>
                </Form>
            </div>
            <div slot="footer">
                <Button type="text" size="large" v-on:click="modalCancel">@Html.Raw(localizer["Cancel"])</Button>
                <Button type="primary" size="large" v-on:click="modalOk">@Html.Raw(localizer["Sava"])</Button>
            </div>
        </Modal>
    </script>
    <script>
        Vue.component("editmodal", {
            template: "#editmodal-div",
            props: ["editdata"],
            methods: {
                modalOk() {

                    this.$refs['editdata.quartzsetting'].validate((valid) => {
                        if (valid) {

                            axios.put("/modifyQuartzsetting", this.editdata.quartzsetting)
                                .then(function (response) {
                                    //判断请求状态
                                    if (response.status == 200) {
                                        var returnData = response.data;

                                        if (returnData.result) {
                                            editVue.editdata.showmodal = false;
                                        } else {
                                            alert(returnData.message);
                                        }
                                    }
                                    else {
                                        alert(response.statusText);
                                    }
                                })
                                .catch(function (error) {
                                    alert(error)
                                    console.log(error);
                                });

                        } else {
                            this.$Message.error('validate failure!');
                        }
                    })
                },
                modalCancel() {
                    for (var key in this.editdata.quartzsetting) {
                        this.editdata.Quartzsetting[key] = tempQuartzsetting[key];
                    }
                    editVue.editdata.showmodal = false;
                }
            }
        })
    </script>


    <script type="text/x-template" id="addmodal-div">
        <div>
            <Button type="primary" v-on:click="showmodal = true">@Html.Raw(localizer["Add"])</Button>
            <Modal v-model="showmodal"
                   title="@Html.Raw(localizer["Add"])"
                   width="800px"
                   :mask-closable="false">
                <div>
                    <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" label-position="top">
                        <row :gutter="16">
                            <Col span="24">
                            <FormItem label="@Html.Raw(localizer["KeyName"])" prop="keyName">
                                <Input v-model="formValidate.keyName"></Input>
                            </FormItem>
                            </Col>
                        </row>
                        <row :gutter="16">
                            <Col span="12">
                            <FormItem label="@Html.Raw(localizer["TypeName"])" prop="typeName">
                                <Input v-model="formValidate.typeName"></Input>
                            </FormItem>
                            </Col>
                            <Col span="12">
                            <FormItem label="@Html.Raw(localizer["CronExpression"])" prop="cronExpression">
                                <Input v-model="formValidate.cronExpression"></Input>
                            </FormItem>
                            </Col>
                        </row>
                        <row :gutter="16">
                            <Col span="12">
                            <FormItem label="@Html.Raw(localizer["Validate"])">
                                <i-switch v-model="formValidate.validate" size="large">
                                    <span slot="valid">true</span>
                                    <span slot="invalid">false</span>
                                </i-switch>
                            </FormItem>
                            </Col>
                            <Col span="12">
                            </Col>
                        </row>
                    </Form>
                </div>
                <div slot="footer">
                    <Button type="text" size="large" v-on:click="modalCancel">@Html.Raw(localizer["Cancel"])</Button>
                    <Button type="primary" size="large" v-on:click="modalOk">@Html.Raw(localizer["Sava"])</Button>
                </div>
            </Modal>
        </div>
    </script>
    <script>
        Vue.component("addmodal", {
            template: "#addmodal-div",
            data: function () {
                return {
                    showmodal: false,
                    formValidate: {
                        id: 0,
                        keyName: "",
                        typeName: "",
                        cronExpression: "",
                        validate: false
                    },
                    ruleValidate: {
                        keyName: [
                            { required: true, message: '@Html.Raw(localizer["KeyNameRequired"])', trigger: 'blur' },
                            { type: 'string', max: 64, message: '@Html.Raw(localizer["KeyNameLength"])', trigger: 'blur' }
                        ],
                        typeName: [
                            { required: true, message: '@Html.Raw(localizer["TypeNameRequired"])', trigger: 'blur' }
                        ],
                        cronExpression: [
                            { required: true, message: '@Html.Raw(localizer["CronExpressionRequired"])', trigger: 'blur' }
                        ],
                    }
                }
            },
            methods: {
                modalOk() {
                    this.$refs['formValidate'].validate((valid) => {
                        if (valid) {
                            var obj = this;
                            addQuartz(this.formValidate, function (newQuartzSetting) {

                                //深度clone
                                // var newSettlemtntSetting = JSON.parse(JSON.stringify(obj.formValidate))
                                //settlemtntSettingVue.Quartzsettings.push(newQuartzSetting)

                                getQuartz(quartzSettingVue.quartzsettings.current);
                                obj.$refs['formValidate'].resetFields();
                                obj.showmodal = false;
                            });
                        } else {
                            this.$Message.error('validate failure!');
                        }
                    })
                },
                modalCancel() {
                    this.showmodal = false;
                }
            }
        })

        function addQuartz(Quartzsetting, callback) {
            axios.post("/addQuartzsetting", Quartzsetting)
                .then(function (response) {
                    //判断请求状态
                    if (response.status == 200) {
                        var returnData = response.data;
                        if (returnData.result) {
                            callback(returnData.data);
                        } else {
                            alert(returnData.message);
                        }
                    }
                    else {
                        alert(response.statusText);
                    }
                })
                .catch(function (error) {
                    alert(error);
                    console.log(error);
                });
        }
        new Vue({
            el: "#addQuartzsetting"
        });
    </script>
</body>
</html>