@inject Microsoft.Extensions.Localization.IStringLocalizer<StealthUI.Controllers.EmailSettingsController> localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@Html.Raw(localizer["EmailSettings"]) - StealthUI</title>
    <link href="~/wwwroot/lib/iview/dist/styles/iview.css" rel="stylesheet" />
</head>
<body>
    <div class="container body-content">
        <div style="margin-top:10px;">
            <h2 style="height: 20px;">@Html.Raw(localizer["EmailSettings"])</h2>
        </div>
        <div id="addemailsetting" style="text-align:right;margin:10px;">
            <addmodal></addmodal>
        </div>
        <div id="tablediv" style="padding:10px;">
            <emailsetting-row :emailsettings="emailsettings"></emailsetting-row>
        </div>

        <div id="editdiv">
            <editmodal v-bind:editdata="editdata"></editmodal>
        </div>
        <hr />
        <footer>
            <p>&copy; 2018 - StealthUI</p>
        </footer>
    </div>
    <script src="~/wwwroot/lib/vue/dist/vue.js"></script>
    <script src="~/wwwroot/lib/iview/dist/iview.js"></script>
    <script src="~/wwwroot/lib/axios/dist/axios.js"></script>


    <script type="text/x-template" id="emailsetting-tr">
        <div>
            <row :gutter="16">
                <col span="24">
                <Table border :columns="columns" :data="data"></Table>
                </col>
            </row>
            <row :gutter="16" style="text-align:right;margin-top:3px;">
                <col span="24">
                <Page :total="total" :page-size="10" :current="current" v-on:on-change="pageing" />
                </col>
            </row>
        </div>
    </script>
    <script>
        var editVue = null;
        var tempemailsetting = null;
        //table组件
        Vue.component("emailsetting-row", {
            template: "#emailsetting-tr",
            props: ["emailsettings"],
            data: function () {
                return {
                    columns: [
                        {
                            title:'@Html.Raw(localizer["ID"])',
                            key: 'id',
                            width: 60,
                        },
                        {
                            title:'@Html.Raw(localizer["KeyName"])',
                            key: 'keyName',
                        },
                        {
                            title: '@Html.Raw(localizer["Host"])',
                            key: 'host',

                        },
                        {
                            title:'@Html.Raw(localizer["Port"])',
                            key: 'port'
                        },
                        {
                            title: '@Html.Raw(localizer["UserName"])',
                            key: 'userName',

                        },
                        {
                            title: '@Html.Raw(localizer["Password"])',
                            key: 'password',
                        },
                        {
                            title:'@Html.Raw(localizer["EmailSubject"])',
                            key: 'subject',
                        },
                        {
                            title: '@Html.Raw(localizer["EmailBody"])',
                            key: 'body',
                        },
                        {
                            title: '@Html.Raw(localizer["FromAddresses"])',
                            key: 'fromAddresses',
                        },
                        {
                            title: '@Html.Raw(localizer["ToAddresses"])',
                            key: 'toAddresses',
                        },
                        {
                            title:'@Html.Raw(localizer["IsCompress"])',
                            key: 'isCompress',
                        },
                        {
                            title: '@Html.Raw(localizer["CompressFileName"])',
                            key: 'compressFile',
                        },
                        {
                            title: '@Html.Raw(localizer["IsAttachment"])',
                            key: 'isAttachment',
                        },
                        {
                            title: '@Html.Raw(localizer["AttachmentName"])',
                            key: 'attachmentName',
                        },
                        {
                            title:'@Html.Raw(localizer["Validate"])',
                            key: 'validate',
                            width: 90,
                        },
                        {
                            title: '@Html.Raw(localizer["Operate"])',
                            key: 'action',
                            width: 100,
                            align: 'center',
                            render: (h, params) => {
                                return h('div', [
                                    h('Button', {
                                        props: {
                                            type: 'success',
                                            icon: 'md-create',
                                            size: 'small'
                                        },
                                        style: {
                                            marginRight: '5px'
                                        },
                                        on: {
                                            click: () => {
                                                this.edit(params.row)
                                            }
                                        }
                                    }),
                                    h('Button', {
                                        props: {
                                            type: 'error',
                                            icon: 'ios-trash',
                                            size: 'small',
                                        },
                                        on: {
                                            click: () => {
                                                this.delete(params.row, params.index)
                                            }
                                        }
                                    })
                                ]);
                            }
                        }
                    ],
                    data: this.emailsettings.list,
                    total: this.emailsettings.total,
                    current: this.emailsettings.current
                }
            },
            methods: {
                edit: function (emailsetting) {
                    if (editVue == null) {
                        editVue = new Vue({
                            el: "#editdiv",
                            data: {
                                editdata: {
                                    emailsetting: emailsetting,
                                    showmodal: true,
                                    ruleValidate: {
                                        keyName: [
                                            { required: true, message: '@Html.Raw(localizer["KeyNameRequired"])', trigger: 'blur' },
                                            { type: 'string', max: 64, message: '@Html.Raw(localizer["KeyNameLength"])', trigger: 'blur' }
                                        ],
                                        host: [
                                            { required: true, message: '@Html.Raw(localizer["HostRequired"])', trigger: 'blur' }
                                        ],
                                        userName: [
                                            { required: true, message: '@Html.Raw(localizer["UserNameRequired"])', trigger: 'blur' }
                                        ],
                                        password: [
                                            { required: true, message: '@Html.Raw(localizer["PasswordRequired"])', trigger: 'blur' }
                                        ],
                                        fromAddresses: [
                                            { required: true, message: '@Html.Raw(localizer["FromAddressesRequired"])', trigger: 'blur' }
                                        ],
                                        toAddresses: [
                                            { required: true, message: '@Html.Raw(localizer["ToAddressesRequired"])', trigger: 'blur' }
                                        ],
                                    }
                                }
                            }
                        });
                    } else {
                        editVue.editdata.emailsetting = emailsetting;
                        editVue.editdata.showmodal = true;
                    }

                    //深度clone
                    tempemailsetting = JSON.parse(JSON.stringify(editVue.editdata.emailsetting))
                },
                delete: function (emailsetting, index) {
                    if (confirm("delete  " + emailsetting.keyName + " ?")) {
                        axios.delete("/removeemailsetting/" + emailsetting.id)
                            .then(function (response) {
                                //判断请求状态
                                if (response.status == 200) {
                                    var returnData = response.data
                                    if (returnData.result) {
                                        getEmail(settlemtntSettingVue.emailsettings.current);
                                    } else {
                                        alert(returnData.messages)
                                    }
                                }
                                else {
                                    alert(response.statusText);
                                }
                            })
                            .catch(function (error) {
                                alert(error)
                                console.log(error);
                            });
                    }
                },
                pageing: function (pageindex) {
                    getEmail(pageindex)
                }
            }
        })
        var settlemtntSettingVue = null;

        function getEmail(pageindex) {
            axios.get("/emailsettings/" + pageindex)
                .then(function (response) {
                    //判断请求状态
                    if (response.status == 200) {
                        document.getElementById("tablediv").innerHTML = ' <emailsetting-row :emailsettings="emailsettings"></emailsetting-row>'
                        var returnData = response.data
                        if (returnData.result) {

                            settlemtntSettingVue = new Vue({
                                el: "#tablediv",
                                data: {
                                    emailsettings: {
                                        list: returnData.data.list,
                                        total: returnData.data.total,
                                        current: pageindex
                                    },
                                }
                            });
                        } else {
                            alert(returnData.messages)
                        }
                    }
                    else {
                        alert(response.statusText);
                    }
                })
                .catch(function (error) {
                    alert(error)
                    console.log(error);
                });
        }
        getEmail(1);
    </script>

    <script type="text/x-template" id="editmodal-div">
        <Modal v-model="editdata.showmodal"
               title="@Html.Raw(localizer["Edit"])"
               width="800px"
               :mask-closable="false">
            <div>
                <Form ref="editdata.emailsetting" :model="editdata.emailsetting" :rules="editdata.ruleValidate" label-position="top">
                    <row :gutter="16">
                        <Col span="24">
                        <FormItem label="@Html.Raw(localizer["KeyName"])" prop="keyName">
                            <Input v-model="editdata.emailsetting.keyName"></Input>
                        </FormItem>
                        </Col>
                    </row>
                    <row :gutter="16">
                        <Col span="12">
                        <FormItem label="@Html.Raw(localizer["Port"])" prop="host">
                            <Input v-model="editdata.emailsetting.host"></Input>
                        </FormItem>
                        </Col>
                        <Col span="12">
                        <FormItem label="@Html.Raw(localizer["keyName"])" prop="port">
                            <InputNumber v-model="editdata.emailsetting.port" :min="10" :step="1"></InputNumber>
                        </FormItem>
                        </Col>

                    </row>
                    <row :gutter="16">
                        <Col span="12">
                        <FormItem label="@Html.Raw(localizer["FromAddresses"])" prop="fromAddresses">
                            <Input v-model="editdata.emailsetting.fromAddresses"></Input>
                        </FormItem>
                        </Col>
                        <Col span="12">
                        <FormItem label="@Html.Raw(localizer["ToAddresses"])" prop="toAddresses">
                            <Input v-model="editdata.emailsetting.toAddresses"></Input>
                        </FormItem>
                        </Col>
                    </row>
                    <row :gutter="16">
                        <Col span="12">
                        <FormItem label="@Html.Raw(localizer["UserName"])" prop="userName">
                            <Input v-model="editdata.emailsetting.userName"></Input>
                        </FormItem>
                        </Col>
                        <Col span="12">
                        <FormItem label="@Html.Raw(localizer["Password"])" prop="password">
                            <Input v-model="editdata.emailsetting.password"></Input>
                        </FormItem>
                        </Col>
                    </row>
                    <row :gutter="16">
                        <Col span="24">
                        <FormItem label="@Html.Raw(localizer["EmailSubject"])" prop="subject">
                            <Input v-model="editdata.emailsetting.subject"></Input>
                        </FormItem>
                        </Col>
                    </row>
                    <row :gutter="16">
                        <Col span="24">
                        <FormItem label="@Html.Raw(localizer["EmailBody"])" prop="body">
                            <Input type="textarea" v-model="editdata.emailsetting.body"></Input>
                        </FormItem>
                        </Col>
                    </row>
                    <row :gutter="16">
                        <Col span="3">
                        <FormItem label="@Html.Raw(localizer["IsCompress"])">
                            <i-switch v-model="editdata.emailsetting.isCompress" size="large">
                                <span slot="open">true</span>
                                <span slot="close">false</span>
                            </i-switch>
                        </FormItem>
                        </Col>
                        <Col span="21">
                        <FormItem label="@Html.Raw(localizer["CompressFileName"])" prop="compressFileName">
                            <Input v-model="editdata.emailsetting.compressFileName"></Input>
                        </FormItem>
                        </Col>
                    </row>
                    <row :gutter="16">
                        <Col span="3">
                        <FormItem label="@Html.Raw(localizer["IsAttachment"])">
                            <i-switch v-model="editdata.emailsetting.isAttachment" size="large">
                                <span slot="open">true</span>
                                <span slot="close">false</span>
                            </i-switch>
                        </FormItem>
                        </Col>
                        <Col span="21">
                        <FormItem label="@Html.Raw(localizer["AttachmentName"])" prop="attachmentName">
                            <Input v-model="editdata.emailsetting.attachmentName"></Input>
                        </FormItem>
                        </Col>
                    </row>
                    <row :gutter="16">
                        <Col span="12">
                        <FormItem label="@Html.Raw(localizer["Validate"])">
                            <i-switch v-model="editdata.emailsetting.validate" size="large">
                                <span slot="valid">true</span>
                                <span slot="invalid">false</span>
                            </i-switch>
                        </FormItem>
                        </Col>
                        <Col span="12">
                        </Col>
                    </row>
                </Form>
            </div>
            <div slot="footer">
                <Button type="text" size="large" v-on:click="modalCancel">@Html.Raw(localizer["Cancel"])</Button>
                <Button type="primary" size="large" v-on:click="modalOk">@Html.Raw(localizer["Sava"])</Button>
            </div>
        </Modal>
    </script>
    <script>
        Vue.component("editmodal", {
            template: "#editmodal-div",
            props: ["editdata"],
            methods: {
                modalOk() {

                    this.$refs['editdata.emailsetting'].validate((valid) => {
                        if (valid) {
                            console.log(this.editdata.emailsetting)
                            axios.put("/modifyemailsetting", this.editdata.emailsetting)
                                .then(function (response) {
                                    //判断请求状态
                                    if (response.status == 200) {
                                        var returnData = response.data;
                                        console.log(returnData)
                                        if (returnData.result) {
                                            editVue.editdata.showmodal = false;
                                        } else {
                                            alert(returnData.message);
                                        }
                                    }
                                    else {
                                        alert(response.statusText);
                                    }
                                })
                                .catch(function (error) {
                                    alert(error)
                                    console.log(error);
                                });

                        } else {
                            this.$Message.error('validate failure!');
                        }
                    })
                },
                modalCancel() {
                    for (var key in this.editdata.emailsetting) {
                        this.editdata.emailsetting[key] = tempemailsetting[key];
                    }
                    editVue.editdata.showmodal = false;
                }
            }
        })
    </script>


    <script type="text/x-template" id="addmodal-div">
        <div>
            <Button type="primary" v-on:click="showmodal = true">@Html.Raw(localizer["Add"])</Button>
            <Modal v-model="showmodal"
                   title="@Html.Raw(localizer["Add"])"
                   width="800px"
                   :mask-closable="false">
                <div>
                    <Form ref="formValidate" :model="formValidate" :rules="ruleValidate" label-position="top">
                        <row :gutter="16">
                            <Col span="24">
                            <FormItem label="@Html.Raw(localizer["KeyName"])" prop="keyName">
                                <Input v-model="formValidate.keyName"></Input>
                            </FormItem>
                            </Col>
                        </row>
                        <row :gutter="16">
                            <Col span="12">
                            <FormItem label="@Html.Raw(localizer["Host"])" prop="host">
                                <Input v-model="formValidate.host"></Input>
                            </FormItem>
                            </Col>
                            <Col span="12">
                            <FormItem label="@Html.Raw(localizer["Port"])" prop="port">
                                <InputNumber v-model="formValidate.port" :min="10" :step="1"></InputNumber>
                            </FormItem>
                            </Col>
                        </row>
                        <row :gutter="16">
                            <Col span="12">
                            <FormItem label="@Html.Raw(localizer["FromAddresses"])" prop="fromAddresses">
                                <Input v-model="formValidate.fromAddresses"></Input>
                            </FormItem>
                            </Col>
                            <Col span="12">
                            <FormItem label="@Html.Raw(localizer["ToAddresses"])" prop="toAddresses">
                                <Input v-model="formValidate.toAddresses"></Input>
                            </FormItem>
                            </Col>
                        </row>
                        <row :gutter="16">
                            <Col span="12">
                            <FormItem label="@Html.Raw(localizer["UserName"])" prop="userName">
                                <Input v-model="formValidate.userName"></Input>
                            </FormItem>
                            </Col>
                            <Col span="12">
                            <FormItem label="@Html.Raw(localizer["Password"])" prop="password">
                                <Input v-model="formValidate.password"></Input>
                            </FormItem>
                            </Col>
                        </row>
                        <row :gutter="16">
                            <Col span="24">
                            <FormItem label="@Html.Raw(localizer["EmailSubject"])" prop="subject">
                                <Input v-model="formValidate.subject"></Input>
                            </FormItem>
                            </Col>
                        </row>
                        <row :gutter="16">
                            <Col span="24">
                            <FormItem label="@Html.Raw(localizer["EmailBody"])" prop="body">
                                <Input type="textarea" v-model="formValidate.body"></Input>
                            </FormItem>
                            </Col>
                        </row>
                        <row :gutter="16">
                            <Col span="3">
                            <FormItem label="@Html.Raw(localizer["IsCompress"])">
                                <i-switch v-model="formValidate.isCompress" size="large">
                                    <span slot="open">true</span>
                                    <span slot="close">false</span>
                                </i-switch>
                            </FormItem>
                            </Col>
                            <Col span="21">
                            <FormItem label="@Html.Raw(localizer["CompressFileName"])" prop="compressFileName">
                                <Input v-model="formValidate.compressFileName"></Input>
                            </FormItem>
                            </Col>
                        </row>
                        <row :gutter="16">
                            <Col span="3">
                            <FormItem label="@Html.Raw(localizer["IsAttachment"])">
                                <i-switch v-model="formValidate.isAttachment" size="large">
                                    <span slot="open">true</span>
                                    <span slot="close">false</span>
                                </i-switch>
                            </FormItem>
                            </Col>
                            <Col span="21">
                            <FormItem label="@Html.Raw(localizer["AttachmentName"])" prop="attachmentName">
                                <Input v-model="formValidate.attachmentName"></Input>
                            </FormItem>
                            </Col>
                        </row>
                    </Form>
                </div>
                <div slot="footer">
                    <Button type="text" size="large" v-on:click="modalCancel">@Html.Raw(localizer["Cancel"])</Button>
                    <Button type="primary" size="large" v-on:click="modalOk">@Html.Raw(localizer["Sava"])</Button>
                </div>
            </Modal>
        </div>
    </script>
    <script>
        Vue.component("addmodal", {
            template: "#addmodal-div",
            data: function () {
                return {
                    showmodal: false,
                    formValidate: {
                        id: 0,
                        keyName: "",
                        host: "",
                        port: 0,
                        fromAddresses: "",
                        toAddresses: "",
                        userName: "",
                        password: "",
                        subject: "",
                        body: "",
                        isCompress: false,
                        compressFileName: "",
                        isAttachment: false,
                        attachmentName: "",
                        validate: false
                    },
                    ruleValidate: {
                           keyName: [
                               { required: true, message: '@Html.Raw(localizer["KeyNameRequired"])', trigger: 'blur' },
                               { type: 'string', max: 64, message: '@Html.Raw(localizer["KeyNameLength"])', trigger: 'blur' }
                           ],
                           host: [
                               { required: true, message: '@Html.Raw(localizer["HostRequired"])', trigger: 'blur' }
                           ],
                           userName: [
                               { required: true, message: '@Html.Raw(localizer["UserNameRequired"])', trigger: 'blur' }
                           ],
                           password: [
                               { required: true, message: '@Html.Raw(localizer["PasswordRequired"])', trigger: 'blur' }
                           ],
                           fromAddresses: [
                               { required: true, message: '@Html.Raw(localizer["FromAddressesRequired"])', trigger: 'blur' }
                           ],
                           toAddresses: [
                               { required: true, message: '@Html.Raw(localizer["ToAddressesRequired"])', trigger: 'blur' }
                           ],
                    }
                }
            },
            methods: {
                modalOk() {
                    this.$refs['formValidate'].validate((valid) => {
                        if (valid) {
                            var obj = this;
                            addEmail(this.formValidate, function (newEmailSetting) {

                                //深度clone
                                // var newSettlemtntSetting = JSON.parse(JSON.stringify(obj.formValidate))
                                //settlemtntSettingVue.emailsettings.push(newEmailSetting)

                                getEmail(settlemtntSettingVue.emailsettings.current);
                                obj.$refs['formValidate'].resetFields();
                                obj.showmodal = false;
                            });
                        } else {
                            this.$Message.error('validate failure!');
                        }
                    })
                },
                modalCancel() {
                    this.showmodal = false;
                }
            }
        })

        function addEmail(emailsetting, callback) {
            axios.post("/addemailsetting", emailsetting)
                .then(function (response) {
                    //判断请求状态
                    if (response.status == 200) {
                        var returnData = response.data;
                        if (returnData.result) {
                            callback(returnData.data);
                        } else {
                            alert(returnData.messages);
                        }
                    }
                    else {
                        alert(response.statusText);
                    }
                })
                .catch(function (error) {
                    alert(error);
                    console.log(error);
                });
        }
        new Vue({
            el: "#addemailsetting"
        });
    </script>
</body>
</html>
